[Desktop Entry]
Exec=sh -c "\$HOME/WallanceProject/CWallance/Grafana/MySQLAccess.sh 5 %U"
Type=Application
NoDisplay=true
StartupNotify=false
Categories=System;
MimeType=x-scheme-handler/app;